flow4.JSON
[
    {
        "id": "e8bb04e1c9c0fd9e",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb9dfb2cd40eb9e3",
        "type": "inject",
        "z": "e8bb04e1c9c0fd9e",
        "name": "injectTemp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "49f32340b5d3e86a"
            ]
        ]
    },
    {
        "id": "49f32340b5d3e86a",
        "type": "function",
        "z": "e8bb04e1c9c0fd9e",
        "name": "setTempJSON",
        "func": "msg.payload = '{\\\"ID\\\":\\\"erick_ch1995\\\",\\\"Temp\\\":\\\"' + (Math.floor(Math.random() * ((45 + 1) - 20) + 20)).toString() + '\\\",\\\"mnsj\\\":\\\"Modificacion de temperatura\\\"}'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "cb3a7882a877663f",
                "f99c6d40fe81aaae"
            ]
        ]
    },
    {
        "id": "cb3a7882a877663f",
        "type": "debug",
        "z": "e8bb04e1c9c0fd9e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "f99c6d40fe81aaae",
        "type": "mqtt out",
        "z": "e8bb04e1c9c0fd9e",
        "name": "MQTT temp",
        "topic": "codigoIoT/SIC/flow3/temp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "affebd3fed08b2a2",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "affebd3fed08b2a2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "3.66.119.222",
        "port": "1883",
        "clientid": "erick_ch1995",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]
